<style type="text/css">
table {
    background-color: whiteSmoke;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
th {
    color: #333;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding: 0 20px;
}
td {
    padding: 0 20px;
    line-height: 20px;
    color: #0084B4;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
td:hover {
    background-color: #fff;
}
.update1 {
 background-color: #00A400;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 3px 3px 1px #999;
 -webkit-box-shadow: 3px 3px 1px #999;
 border: solid 1px #CCC;
 font-size:14px;
 color: #ffffff;
 text-shadow: 2px 2px 4px #000000;
 }
 
 .update1:hover {
 background-color: #00CC00;
 }

 .delete1 {
 background-color: #FF0000;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 3px 3px 1px #999;
 -webkit-box-shadow: 3px 3px 1px #999;
 border: solid 1px #CCC;
 font-size:14px;
 color: #ffffff;
 text-shadow: 2px 2px 4px #000000;
 }
 
 .delete1:hover {
 background-color: #E00000;
 }

  .filter1 {
 background-color: #0873FF;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 3px 3px 1px #999;
 -webkit-box-shadow: 3px 3px 1px #999;
 border: solid 1px #CCC;
 font-size:14px;
 color: #ffffff;
 text-shadow: 2px 2px 4px #000000;
 }
 
 .filter1:hover {
 background-color: #072DE8;
 }


</style>