<style type="text/css">
table {
    background-color: whiteSmoke;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
th {
    color: #333;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding: 0 20px;
}
td {
    padding: 0 20px;
    line-height: 20px;
    color: #0084B4;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
td:hover {
    background-color: #fff;
}
</style>